-
  var dataFilter = {
    price: {
      'data-type': 'double',
      'data-min': 100,
      'data-max': 21000,
      'data-step': 100,
      'data-min-interval': 100
    },
    colors: [
      'Амарантово-пурпурный',
      'Бежево-коричневый',
      'Бело-алюминиевый',
      'Красно-розовый',
      'Насыщенный желтый',
      'Оранжево-желтый',
      'Светлая мальва',
      'Умеренно-темный пурпурный',
      'Яркий красно-пурпурный'
    ]
  }
