-
  var messageStyle = {
    default: '',
    red: '_red',
    blue: '_blue'
  }

  var dataCard = {
    item1: {
      title: 'Штукатурка гипсовая Knauf ротбанд 10кг',
      jpg: 'card.jpg',
      price: ['44 090','32 340'],
      availability: true,
      code: '0А-00046452',
      amount: 100,
      oldPrice: true,
      compare: true,
      action: {
        style: messageStyle.blue,
        message: '+Подарок!'
      },
      tags: [
        'Укрывочные материалы',
        'Строительные мешки',
        'Защита рук',
        'Насадки для миксера',
        'Укрывочные материалы',
        'Строительные мешки',
        'Защита рук',
        'Насадки для миксера'
      ]
    },
    
    item2: {
      title: 'Штукатурка гипсовая Knauf ротбанд 10кг',
      jpg: 'card.jpg',
      price: ['38 620','29 740'],
      availability: true,
      code: '0А-00046451',
      amount: 10,
      oldPrice: false,
      compare: true,
      action: {
        style: messageStyle.red,
        message: 'Скоро закончится!'
      },
      tags: [
        'Укрывочные материалы',
        'Строительные мешки',
        'Насадки для миксера',
        'Защита рук',
      ]
    },
    
    item3: {
      title: 'Штукатурка гипсовая Knauf ротбанд 10кг',
      jpg: 'card2.jpg',
      price: ['39 990','19 990'],
      oldPrice: false,
      availability: false,
      code: '0А-00046453',
      amount: 1,
      action: {
        style: messageStyle.default,
        message: 'Маленький дефект-большая скидка!'
      },
      tags: [
        'ух тыж ёпт штукатурка!'
      ]
    },
    
    item4: {
      title: 'Штукатурка гипсовая Knauf ротбанд 10кг',
      jpg: 'card.jpg',
      price: ['39 990','19 990'],
      availability: false,
      oldPrice: false,
      code: '0А-00046423',
      amount: 5,
      compare: true
    },
    
    item5: {
      title: 'Эмаль пф-266 Лакра красно-коричневая 3кг',
      jpg: 'card3.jpg',
      price: ['488','454'],
      availability: true,
      oldPrice: true,
      code: '0А-00034125',
      amount: 10,
      compare: false
    },
    
    item6: {
      title: 'Эмаль ПФ-266 Лакра золотисто-коричневая 20кг',
      jpg: 'card4.jpg',
      price: ['3 158','2 937'],
      availability: true,
      oldPrice: true,
      code: '0А-00036916',
      amount: 10,
      compare: false
    },
    
    item7: {
      title: 'Кисть плоская Эмали (АКОР) натуральная щетина, желтая пласт. ручка с креплением, 25х10мм',
      jpg: 'card5.jpg',
      price: ['23,3','21'],
      availability: true,
      oldPrice: false,
      code: '0А-00024541',
      amount: 100,
      compare: false
    }
  }
