include ../global.pug



mixin fcontacts
  +b.footer-info
    +caption({ title: 'Контакты', size: 0 })
    
    +ielement({
      name: '+7 (3852) 548-333',
      val: 'Без выходных',
      link: 'tel:+73852548333'
    })
    
    +b.BUTTON.btn._size-s._decoration(style="margin: 12px 0 24px;" data-open="modal-call") Заказать звонок
    
    +b.A.banner(href="#banner")
      img(src="pictures/banner.jpg")
    
      
