include ../global.pug

mixin head-shop
  meta(charset="UTF-8")
  title #{global.title}
  link(rel="stylesheet" href="css/style.css")
  link(rel="icon" type="image/x-icon" href=global.paths.images+"favicon.ico")
  link(href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
